@model Plant


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">

    <!-- Custom Stylesheet -->
    <link href="~/admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="~/admin/css/style.css" rel="stylesheet" />

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 New Messages</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">English</a></li>
                                        <li><a href="javascript:void()">Dutch</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>


                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="bi bi-flower1 menu-icon"></i>

                            <span class="nav-text">Manage Plants</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="@Url.Action("Plants","Admin")">View Plants</a></li>


                        </ul>
                    </li>


                    <li class="nav-label">Pages</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-lock.html">Lock Screen</a></li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Available Plants</h4>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Plants</button>

                                <div class="table-responsive" style="margin-top: 7px;">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Plant Name</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Availability</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody id="plantsData">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Plant Name</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Availability</th>
                                                <th>Image</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>


                                <!--Add Modal-->
                                <div class="modal fade bd-example-modal-lg" id="addPlantModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Plant</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>


                                            <div class="modal-body">
                                                <div class="basic-form">
                                                    <form asp-action="AddPlant" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="plantName">Plant Name</label>
                                                                <input type="text" class="form-control" id="plantName" name="Name" asp-for="Name" placeholder="Enter plant name">
                                                                <span asp-validation-for="Name" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="plantCategory">Category</label>
                                                                <select id="plantCategory" class="form-control" name="Category" asp-for="Category">
                                                                    <option value="" selected="selected">Choose...</option>
                                                                    <option value="AllPlants">All Plants</option>
                                                                    <option value="OutdoorPlants">Outdoor Plants</option>
                                                                    <option value="IndoorPlants">Indoor Plants</option>
                                                                    <option value="OfficePlants">Office Plants</option>
                                                                    <option value="Potted">Potted</option>
                                                                    <option value="Others">Others</option>
                                                                </select>
                                                                <span asp-validation-for="Category" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantDescription">Description</label>
                                                            <textarea class="form-control" id="plantDescription" name="Description" asp-for="Description" rows="3" placeholder="Enter description"></textarea>
                                                            <span asp-validation-for="Description" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="plantPrice">Price</label>
                                                                <input type="number" class="form-control" id="plantPrice" name="Price" asp-for="Price" placeholder="Enter price" min="0" step="0.01">
                                                                <span asp-validation-for="Price" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="plantAvailability">Availability</label>
                                                                <select id="plantAvailability" class="form-control" name="Availability" asp-for="Availability">
                                                                    <option value="true">Available</option>
                                                                    <option value="false">Unavailable</option>
                                                                </select>
                                                                <span asp-validation-for="Availability" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantTags">Tags</label>
                                                            <input type="text" class="form-control" id="plantTags" name="Tags" asp-for="Tags" placeholder="Enter tags (comma separated)">
                                                            <span asp-validation-for="Tags" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantImagePath">Image Path</label>
                                                            <div class="input-group mb-3">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="plantImagePath" name="plantImage" accept="image/*" multiple>
                                                                    <label class="custom-file-label" for="plantImagePath">Choose files</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Add Plant</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>


                                <!--Edit modal-->
                                <div class="modal fade bd-example-modal-lg" id="editPlantModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Plant</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>


                                            <div class="modal-body">
                                                <div class="basic-form">
                                                    <form asp-action="UpdatePlant" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                                       
                                                        <input type="hidden" id="plantID" name="PlantID" asp-for="PlantID" />

                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="plantName">Plant Name</label>
                                                                <input type="text" class="form-control" id="plantName" name="Name" asp-for="Name" placeholder="Enter plant name">
                                                                <span asp-validation-for="Name" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="plantCategory">Category</label>
                                                                <select id="plantCategory" class="form-control" name="Category" asp-for="Category">
                                                                    <option value="" selected="selected">Choose...</option>
                                                                    <option value="AllPlants">All Plants</option>
                                                                    <option value="OutdoorPlants">Outdoor Plants</option>
                                                                    <option value="IndoorPlants">Indoor Plants</option>
                                                                    <option value="OfficePlants">Office Plants</option>
                                                                    <option value="Potted">Potted</option>
                                                                    <option value="Others">Others</option>
                                                                </select>
                                                                <span asp-validation-for="Category" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantDescription">Description</label>
                                                            <textarea class="form-control" id="plantDescription" name="Description" asp-for="Description" rows="3" placeholder="Enter description"></textarea>
                                                            <span asp-validation-for="Description" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="plantPrice">Price</label>
                                                                <input type="number" class="form-control" id="plantPrice" name="Price" asp-for="Price" placeholder="Enter price" min="0" step="0.01">
                                                                <span asp-validation-for="Price" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="plantAvailability">Availability</label>
                                                                <select id="plantAvailability" class="form-control" name="Availability" asp-for="Availability">
                                                                    <option value="true">Available</option>
                                                                    <option value="false">Unavailable</option>
                                                                </select>
                                                                <span asp-validation-for="Availability" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantTags">Tags</label>
                                                            <input type="text" class="form-control" id="plantTags" name="Tags" asp-for="Tags" placeholder="Enter tags (comma separated)">
                                                            <span asp-validation-for="Tags" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="plantImagePath">Image Path</label>
                                                            <div class="input-group mb-3">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="plantImagePath" name="plantImage" accept="image/*" multiple>
                                                                    <label class="custom-file-label" for="plantImagePath">Choose files</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Update Plant</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/admin/plugins/common/common.min.js"></script>
    <script src="~/admin/js/custom.min.js"></script>
    <script src="~/admin/js/settings.js"></script>
    <script src="~/admin/js/gleek.js"></script>
    <script src="~/admin/js/styleswitcher.js"></script>


    <script src="~/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>




    <!--Validation Scripts-->


    <script>
        $(document).ready(function () {
            // Custom tag validation
            $("form").on("submit", function () {
                var tags = $("#plantTags").val();
                var tagsValid = /^([a-zA-Z\s]+,)*[a-zA-Z\s]+$/.test(tags);
                if (!tagsValid) {
                    $("#plantTags").next(".text-danger").text("Tags must be strings and comma-separated.");
                    return false;
                } else {
                    $("#plantTags").next(".text-danger").text("");
                }

                return true;

            });


            $("#plantImagePath").change(function () {
                var files = this.files;
                if (files.length === 0) {
                    $(this).next('.custom-file-label').text('Choose at least one image.');
                } else {
                    $(this).next('.custom-file-label').text(files.length + ' file(s) selected');
                }

                for (let i = 0; i < files.length; i++) {
                    if (!files[i].type.startsWith('image/')) {
                        $(this).next('.text-danger').text('Please upload only images.');
                        return;
                    }
                }
                $(this).next('.text-danger').text('');
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap JS after jQuery -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Define the loadPlants function so it's accessible from anywhere in this scope
            function loadPlants() {
                console.log('Loading plants...');
                $.ajax({
                    url: '/Admin/GetAllPlants',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('Data loaded:', data);
                        if (data && data.length > 0) {
                            var tableBody = '';
                            $.each(data, function (index, plant) {
                                tableBody += '<tr>';
                                tableBody += `<td><a href="javascript:void(0);" class="edit-plant" data-id="${plant.plantID}">${plant.name || 'N/A'}</a></td>`;
                                tableBody += '<td>' + (plant.category || 'N/A') + '</td>';
                                tableBody += '<td>' + $('<div>').text(plant.description || 'No description').html() + '</td>';
                                tableBody += '<td>Rs.' + (plant.price ? parseFloat(plant.price).toFixed(2) : '0.00') + '</td>';
                                tableBody += '<td>' + (plant.availability || 'Unknown') + '</td>';
                                tableBody += `<td><img src="${plant.imagePath || ''}" alt="${plant.name || 'Image'}" width="50"></td>`;
                                tableBody += '</tr>';
                            });
                            $('#plantsData').html(tableBody);

                        } else {
                            $('#plantsData').html('<tr><td colspan="6" class="text-center">No plants available</td></tr>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading data:', error);
                        $('#plantsData').html('<tr><td colspan="6" class="text-center">Failed to load data</td></tr>');
                    }
                });
            }

            // Initial Load
            loadPlants();

            // Edit plant functionality
            $(document).on('click', '.edit-plant', function () {
                console.log('Edit plant clicked');
                var plantID = $(this).data('id');

                $.ajax({
                    url: '/Admin/GetPlantById',
                    method: 'GET',
                    data: { id: plantID },
                    dataType: 'json',
                    success: function (data) {
                        console.log('Edit data loaded:', data);
                        if (!data.error) {
                            $('#editPlantModal #plantID').val(data.plantID);
                            $('#editPlantModal #plantName').val(data.name);
                            $('#editPlantModal #plantCategory').val(data.category);
                            $('#editPlantModal #plantDescription').val(data.description);
                            $('#editPlantModal #plantPrice').val(data.price);
                            $('#editPlantModal #plantAvailability').val(data.availability.toString());
                            $('#editPlantModal #plantTags').val(data.tags);
                            $('#editPlantModal').modal('show');
                        } else {
                            alert('Error: ' + data.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to load plant details:', error);
                        alert('Failed to load plant details: ' + error);
                    }
                });
            });

            // Update plant
            $('#editPlantModal form').on('submit', function (e) {
                e.preventDefault();  // Prevent default form submission
                console.log('Submitting edit form');
                var formData = new FormData(this);

                $.ajax({
                    url: '/Admin/UpdatePlant',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            console.log('Plant updated successfully!');
                            $('#editPlantModal').modal('hide');
                            loadPlants();  // This should refresh the list
                        } else {
                            console.error('Error updating plant:', response.error);
                            alert('Error updating plant: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to update plant:', error);
                        alert('Failed to update plant: ' + error);
                    }
                });
            });
        });
    </script>
</body>

</html>